*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:  rgba(201, 226, 255, 0.86);
}
.container{
    display: flex;
    justify-content: center;
    height: 690px;
    background-color: white;
    border-radius: 15px;
    width: 65%;
    margin: auto;
    margin-top: 20px;
}
.logo{
    display: flex;
    width: 50%;
    border-radius: 15px;
}
.inputs{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    padding-top: 150px;
}
::placeholder {
    color: white;
}
input{
    color: white;
    width: 300px;
    height: 50px;
    border-radius: 15px;
    border: none;
    padding-left: 10px;
    background-color:rgba(1, 89, 161, 0.86) ;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.459);
}
img{
    height: inherit;
}
button{
    margin-top:130px ;
    width: 100px;
    height: 50px;
    border-radius: 15px;
    background-color:rgba(1, 89, 161, 0.86) ;
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.459);
}
a{
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: 400;
}